<div class="indicator">
  <p-card header="Indicator searches comparison">
    <p-float-label style="margin-top: 1.5rem">
      <p-select
        inputId="indicator"
        size="large"
        [options]="availableIndicators()"
        [(ngModel)]="selectedIndicator"
        [style]="{width: '100%'}"
        [filter]="true"
        [showClear]="true"
        [group]="true"
        [resetFilterOnHide]="true"
        filterBy="label"
        emptyFilterMessage="No indicators found"
        scrollHeight="500px"
      ></p-select>
      <label for="indicator">Select Indicator</label>
    </p-float-label>
  </p-card>

</div>
